<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Trainers Info:-</h1>
    <table border="2px" cellpadding="10px" cellspacing="10px">
        <thead>
            <tr>
            <th>EmId</th>
            <th>EmName</th>
            <th>EmDesign</th>
            <th>EmCompy</th>
            <th>EmSalary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>JSP101</td>
                <td>Mr.Harshad Vali</td>
                <td>Sr.Trainer</td>
                <td>JSpiders</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>JSP101</td>
                <td>Mr.Raveesh</td>
                <td>Vicd president</td>
                <td>JSpiders</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>JSP101</td>
                <td>Mr.Kishore</td>
                <td>Sr.Trainer</td>
                <td>JSpiders</td>
                <td>100000</td>
            </tr>
        </tbody>
    </table>
</body>
</html>