<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Info:-</h1>
    <table border="2px">
        <tr>
            <th>Batch Code</th>
            <th>Name</th>
            <th>Email</th>
            <th colspan="2">Courses</th>
           <!-- <th>Course_2</th>-->
        </tr>
        <tr>
            <td rowspan="4">wBD_A6</td>
            <td>Vasavi</td>
            <td>Vasavi@gmail.com</td>
            <td>Python</td>
            <td>SQL</td>
        </tr>
        <tr>
            <!--<td>wBD_A6</td>-->
            <td>sujatha</td>
            <td>Suji@gmail.com</td>
            <td>Java</td>
            <td>Web</td>
        </tr>
        <tr>
            <!--<td>wBD_A6</td>-->
            <td>Venky</td>
            <td>Venky@gmail.com</td>
            <td>SQL</td>
            <td>Mern</td>
        </tr>
        <tr>
            <!---<td>wBD_A6</td>-->
            <td>Gopi</td>
            <td>gopi@gmail.com</td>
            <td>Mern</td>
            <td>Web</td>
        </tr>
    </table>
</body>
</html>